*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.isi{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #011627;
    justify-content: space-between;
    font-size: 20px;
}

.Merek{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    padding: 40px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
     font-weight: 700;
     font-size: 2rem;
     padding-left: 60px;
}
.logo a{
    color: #ffffff;
}

.Merek .logo{
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-top: 15px;
    width: 70px;
}

ul{
    color: white;
}

.navigasi{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding-right: 60px;
}

.navigasi >  li{
    list-style-type: none;
    padding: 15px;  
    font-size: 20px;
}

.navigasi > li:hover{
    color: #8338ec;
    transition: all .5 ease-in-out;
}

.navigasi > li > a{
    color: white;
    text-decoration: none;
}
/* End Navbar */
/* hero */
.hero{
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.hero h1{
    color: black;
    font-size: 60px;
}
.hero p{
    color: black;
}
.hero .Profile{
    line-height: 12px;
}
.hero .box-hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
    padding: 80px 80px 0px 80px;
}
.hero .box-hero .box:nth-child(1) p{
    line-height: 2;
    margin-bottom: 20px;
}
.hero .box-hero .box:nth-child(1) h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.hero .box-hero .box:nth-child(2) h1 img{
    border-radius: 10px;
}
.hero .Profile p{
    justify-content: flex-start;
    text-align: start;
    margin: 50px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 300;
    width: 70vh;
}
.hero .Profile h1{
    line-height: 2cm;
    padding-left: 50px;
    font-size: 60px;
}
.hero .Gambar img{
    width: 100%;
    padding-left: 70px;
}
/* End hero */
/* About */
.aboutme{
    width: 100%;
    min-height: 100vh;
    margin-top: -100px;
    display: grid;
    margin-bottom: 60px;
}
.aboutme h1{
    color: black;
    font-size: 60px;
}
.aboutme p{
    color: black;
}
.aboutme .Profile{
    line-height: 12px;
}
.aboutme .boxaboutme{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
    padding: 80px 80px 0px 80px;
}
.aboutme .boxaboutme .box:nth-child(1) p{
    line-height: 2;
    margin-bottom: 20px;
    font-size: 20px;
}
.aboutme .boxaboutme .box:nth-child(1) h1{
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 58px;
}
.aboutme .Profile p{
    justify-content: flex-start;
    text-align: start;
    margin: 50px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 300;
    width: 70vh;
}
.aboutme .Profile h1{
    line-height: 2cm;
    padding-left: 50px;
    font-size: 60px;
}
.aboutme .Gambar img{
    width: 100%;
    padding-right: 50px;
}
/* End About */
/* skills */
.opening{
    text-align: center;
    padding-top: 120px;
}
.opening h1{
    font-size: 50px;
}
.skills{
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
.skill{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.description{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.description h3{
    font-size: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/* End skills */

/* Education */
.container-education{
    padding-top: 200px;
    width: 100%;
    padding: 35px 10%;
}
.col-education header.title-education{
    font-family: 'Open Sans', sans-serif;
    color: #11a372;
    padding: 120px 0px 20px 30px;
    
}
.col-education .contents-education{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col-education .contents-education .box-education{
    padding: 20px;
    position: relative;
    border: 1px solid #eaeaea; 
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col-education .contents-education .box-education:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col-education .contents-education .box-education::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.box-education h4{
    position: relative;
    color: #11a372;
}
.box-education h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}
/* End Education */

/* experience */
.experience h1{
    color: rgb(2, 2,2);
    font-family: 'QuickSand', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin: 0px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    margin-top: 70px;
}
.experience h2{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 200;
}
.experience .prop h2{
    font-weight: bold;
    margin-bottom: 0px;
}
.experience .main h2{
    margin-bottom: 20px;
    font-size: 35px;
}
.experience h3{
    color: #000000;
    font-family: 'quickSand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px;
    text-align: center;
}
.experience h4{
    color: #000000;
    font-family: 'quickSand', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.experience p{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    width: 90%;
    text-align: center;
}
.experience .prop img{
    padding: 0;
    margin-top: -10px;
    margin-bottom: 10px;
}
.experience .partner{
    padding: 20px;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #eeeeee ;
    position: relative;
    background-color: white;
    z-index: 3;
}
.experience .partner img{
    position: relative;
    top: 0px;
}
.experience .aa-logo{
    padding-left: 6px;
}
.experience .main{
    margin: 0px;
    padding: 40px;
}
.experience .value-props{
    margin: 40px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.experience .prop{
    border: 3px solid #000000;
    padding: 40px 0px;
    margin: 10px 0px;
    text-align: center;
}
.experience .prop h2{
    font-family: 'QuickSand', sans-serif;
    font-size: 24px;
}
.experience .prop li{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin: 0 auto;
    text-align: left;
    width: 60%;
}
/* End experience */

/* Project */
.work{
    width: 100%;
    min-height: 100vh;
    margin-top: -100px;
    display: grid;
    margin-bottom: 60px;
}
.work .judul h1{
    color: black;
    text-align: center;
    margin: 110px;
    margin-bottom: 30px;
    font-size: 60px;
}
.work .projects{
    justify-content: center;
    align-items: center;
    display: grid;
}
.projects img{
    width: 130vh;
}
.work .projects img{
    padding: 0;
    margin: 0;
}
/* end project */

/* Blog */
.judul-blog h1{
    color: black;
    text-align: center;
    margin: 110px;
    margin-bottom: 30px;
    font-size: 60px;
    padding-top: 120px;
}
.main-container-blog{
    justify-content: center;
    margin: 40px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.container-blog{
    margin: 10% 30%;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px #ffffff;
    background-color: #000000;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: .5rem;
    width: 550px;
    height: 550px;
}

.iconheader{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.8rem;
    margin-bottom: -30px;
}

.fa-regular{
    margin-right: 15px;
}

.fotodiri img{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.fotodiri img:hover{
    width: 220px;
    height: 220px;
}

.nama-blog{
    font-size: 18px;
    padding-bottom: 15px;
}

.deskripsi-blog{
    padding: 0px 50px 15px 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.deskripsi-blog p{
    color: #eaeaea;
}
.tombol-blog{
padding-bottom: 30px;
}
.tombol-blog button{
    color: white;
    border: 3px solid white;
    font-weight: bolder;
    padding: 15px;
    margin: 10px 40px;
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    border-radius: 12px;
    background: transparent;
}
/* End Blog */

/* Contact */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
   
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}
/* Footer */
footer{
    background-color: #011627;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: #8338ec;
    transition: all .5s ease-in-out;
}